extends layout

block content
    div.container
        header.row
            div(class="col-lg-12")
                h1= title
                p #[a(href="mailto:ariel@arielkaplan.com") ariel@arielkaplan.com]
                p #[a(href="http://www.github.com/kapari") www.github.com/kapari]
                p I am: Focused, observant, optimistic, empathetic developer with a drive to and improve.
                p I value: Respect, Honesty, Compassion, Curiosity, Responsibility, Self-Awareness
                p I'm working on: Node.js & Express, Bootstrap
                p I'm curious about: AngularJS, CSS3 Animations, JQuery, Automated Testing, MeteorJS, MongoDB

        section.row(id="projects")
            div(class="col-lg-12")
                h2 Projects
        div.row
            div(class="col-sm-4")

                article(class="project")
                    div(class="thumbnail")
                        img(src="images/proj-dance.jpg" alt="DanceMatch")
                        div(class="caption")
                            h3 DanceMatch
                            p An AJAX app built with Django to connect dancers with practice partners.
                            p Skills: JavaScript, Python, Django, HTML, CSS, MVC, AWS Deployment
                            p #[a(href="http://dancematch.arielkaplan.com") dancematch.arielkaplan.com]

            div(class="col-sm-4")

                article(class="project")
                    div(class="thumbnail")
                        img(src="images/proj-pa.jpg" alt="PatternAgents")
                        div(class="caption")
                            h3 PatternAgents
                            p Worked with a small team to build the front end of this Jekyll-based blog, news, and e-commerce site.
                            p Skills: HTML, CSS, Wireframes, Responsive Design, Project Planning, Communication
                            p #[a(href="http://patternagents.github.io") patternagents.github.io]

            div(class="col-sm-4")

                article(class="project")
                    div(class="thumbnail")
                        img(src="images/proj-cland.jpg" alt="Carruthers Landscape")
                        div(class="caption")
                            h3 Carruthers Landscape
                            p A one-page responsive site for a small business. Built with Zurb Foundation 4.
                            p Skills: Foundation, HTML, CSS, Wireframes, Project Planning, Photoshop, Communication, Customer Service
                            p #[a(href="http://www.carrutherslandscape.com") www.carrutherslandscape.com]

            div(class="clearfix visible-md-block")

        section.row(id="education")
            h2 Education
            ul
                li PDX Code Guild, Software Engineering 12-week intensive program, Portland OR
                li Online Courses:
                    ul
                        li Python (MIT and Rice)
                        li Human-Computer Interaction (Stanford)
                        li Behavioral Economics (Duke)
                        li Treehouse
                li B.A. Lewis & Clark College, magna cum laude and departmental honors, Portland OR. Art major, Japanese language minor
                li Graduate with honors of Firestone High School, Akron OH

        section.row(id="community")
            h2 Community

            div(class="col-md-4")

                h3 Meetups
                ul
                    li Women Who Code: JavaScript Night
                    li Monday Python
                    li Tech4Good
                    li CHIFOO
                    li PDX-UX
                    li Code Scouts

            div(class="col-md-4")

                h3 Hackathons
                ul
                    li We Code Hackathon by Nike & Puppet Labs: 2nd Place "Balancing Act"
                    li Tech4Good: Customized a WordPress site for a battered womens' shelter

            div(class="col-md-4")

                h3 Conventions
                ul
                    li Devsigner
                    li Write the Docs
                    li BarCamp
                    li OSCON

        section.row(id="other")
            h2 Other Interests
            div(class="col-sm-6 col-md-6")
                article(class="project")
                    div(class="thumbnail")
                        img(src="images/dance-bw.jpg" alt="Dancing")
                        div(class="caption")
                            h3 Partner Dancing
                            p.
                                I've been teaching group classes and private lessons for nearly four years, currently out of
                                #[a(href="http://www.portlandballroomdancing.com") Uptown Ballroom] in Tigard. Prior to Uptown,
                                I co-founded and hosted a twice-monthly social dance for about two years, and taught group classes
                                at various places around Portland.
                            p.
                                My favorite dances are Nightclub Two-Step, West Coast Swing, Cross-Step Waltz, and Hustle.
                                I also do a smattering of other dances.
                            p #[a(href="http://dance.arielkaplan.com") Ariel Dancing]
            div(class="col-sm-6 col-md-6")
                article(class="project")
                    div(class="thumbnail")
                        img(src="images/art-gabby.jpg" alt="Painting")
                        div(class="caption")
                            h3 Photography & Painting
                            p.
                                Although I don't do it too often these days, my first love was drawing. I spent some time
                                as a pet portrait artist, enjoying the delicacy and precision of portraiture combined
                                with cute animals. 'Cause cute animals.
                            p.
                                I like to take an unreasonable number of photos with my Nikon D3000 whenever I go
                                somewhere pretty.
                            p #[a(href="http://www.arielkaplan.com") Portfolio]

            //div(class="col-md-6")
            //    article(class="panel panel-default")
            //        div.panel-heading
            //            h3.panel-title Photography & Painting
            //        div.panel-body
            //            img(src="http://placehold.it/400x200" alt="")
            //            p.
            //                Although I don't do it too often these days, my first love was drawing. I spent some time
            //                as a pet portrait artist, enjoying the delicacy and precision of portraiture combined
            //                with cute animals. 'Cause cute animals.
            //            p.
            //                I like to take an unreasonable number of photos with my Nikon D3000 whenever I go
            //                somewhere pretty.
            //        div.panel-footer
            //            p Website: #[a(href="http://www.arielkaplan.com") Portfolio]

        footer.row
            div(class="col-md-12")
                p Still here? #[a(href="mailto:ariel@arielkaplan.com") Email me!]